.list {
  list-style-type: none;
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  text-decoration: none;
}

.list li {
  font-size: 20px;
  white-space: nowrap;
  margin: auto 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #021d24;
  color: rgb(238, 238, 226);
  cursor: pointer;
  transform: scale(0.87);
}
