.list {
  list-style-type: none;
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  text-decoration: none;
}

.list li {
  font-size: 20px;
  white-space: nowrap;
  margin: auto 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #33899e;
  color: rgb(238, 238, 226);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.list li:hover {
  background-color: rgb(156, 192, 224);
  color: rgb(17, 88, 112);
}
